---
---
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="{{ site.baseurl }}/css/font.css" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ site.url }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.url }}/css/skeleton.css">
  <link rel="stylesheet" href="{{ site.url }}/css/mopsy.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/x-icon" href="{{ site.url }}/assets/favicon.png">

  <!-- Cookie Banner
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" id="cookiebanner" src="{% link js/cookiebanner.min.js %}"
          data-fg="black" data-bg="#fdff00" data-link="black"
          data-moreinfo="{% link datenschutz.md %}" data-moreinfo-font-weight="bold"
          data-message="Unfortunately we cannot get rid of all cookies. If you keep browsing the site you are okay with us storing some essential cookies."
          data-linkmsg="Datenschutzerklärung"></script>

</head>
<body>
<div class="container">

<header>
<div class="row">
    <div class="column">

    <a href="{{ site.baseurl }}/"><h1>moPsy</h1></a>
    </div>
</div>
</header>

<div id="navbar" class="row">
  <div class="one-half column">
  <nav>
    <a class="button {% unless page.nav %}button-primary{% endunless %}" href="{% link index.html %}">About</a>
    <a class="button {% if page.nav=='modules' %}button-primary{% endif %}" href="{% link modules.html %}">Modules</a>
    <a class="button {% if page.nav=='tools' %}button-primary{% endif %}" href="{% link tools.html %}">Tools</a>
  </nav>
  </div>
  <div class="one-half column" style="text-align: right;">
    <a href="https://www.patreon.com/penguineer" target="_blank"><img src="/assets/patreon-logo.png" alt="Patreon" /></a>
    <a href="https://ko-fi.com/penguineer" target="_blank"><img src="/assets/kofilogo_bluebg.png" alt="Ko-Fi" /></a>
    <a href="https://github.com/sponsors/penguineer" target="_blank"><img src="/assets/github-mark.png" alt="GitHub" /></a>
  </div>

</div>

{{ content }}

<footer>
<div class="row">
    <div class="eight columns">
      <span>&copy; 2022-2023 Stefan Haun</span>
    </div>
    <div class="two columns">
        <nav>
            <a href="{% link impressum.md %}">Impressum</a>
        </nav>
    </div>
    <div class="two columns">
        <nav>
            <a href="{% link datenschutz.md %}">Datenschutz</a>
        </nav>
    </div>
</div>
</footer>

</div>
</body>
</html>
