name: Check Links

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * 5"

jobs:
    linkChecker:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v5

        - name: Link Checker
          id: lychee
          uses: lycheeverse/lychee-action@v2.7.0
          with:
            args: -vvv -n -m 100 --accept 200,403,429,500 --user-agent 'curl/8.9.0' https://www.mopsy-music.de
            fail: false # Don't fail action on broken links

        - name: Create Issue From File
          if: env.lychee_exit_code != 0
          uses: peter-evans/create-issue-from-file@v6
          with:
            title: Link Checker Report
            content-filepath: ./lychee/out.md
            labels: report, automated issue
